<%- include ('partials/nav.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>SWE-SOCIETY,SUST</title>

    <!-- Main Stylesheet File -->
    <link href="/public/index/style.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Libraries font Files -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <header id="head">
      <div class="container">
        <div class="headingtext">
          <img src="/public/image/logo1.png" width="350px" />
          <h4>SOFTWARE ENGINEERING SOCIETY<br /></h4>
          <h5>Software Engineering,</h5>
          <h5>
            Institute of Information and Communication Technology (IICT), SUST
          </h5>
        </div>
      </div>
    </header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3>SWE SOCIETY</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <section id="feature">
      <div class="container">
        <h5 class="titleh2">RECENT EVENTS</h5>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="nav-link" href="#">
              <div class="wrap-item text-center">
                <div class="item-img1">
                  <img src="/public/image/post_1.jpg" />
                </div>
                <h3 class="pad-bt15">1</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="nav-link" href="#">
              <div class="wrap-item text-center">
                <div class="item-img1">
                  <img src="/public/image/post_2.jpg" />
                </div>
                <h3 class="pad-bt15">2</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="nav-link" href="#">
              <div class="wrap-item text-center">
                <div class="item-img1">
                  <img src="/public/image/post_4.jpg" />
                </div>
                <h3 class="pad-bt15">3</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="nav-link" href="#">
              <div class="wrap-item text-center">
                <div class="item-img1">
                  <img src="/public/image/post_5.jpg" />
                </div>
                <h3 class="pad-bt15">4</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section class="section intro">
      <div class="container">
        <h3 style="color: white;">EVENTS</h3>
      </div>
    </section>
    <div class="timeline-carousel">
      <div
        class="timeline-carousel__item-wrapper"
        data-js="timeline-carousel">
      </div>
    </div>

    <!-- partial -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      type="text/javascript">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js"></script>
    <script type="text/javascript">
      var publicSpreadsheetUrl = "1znAku0PXH31_0hH-z3b86DMBf_4jr7JBe4BDuuaDGTw";

      function init() {
        Tabletop.init({
          key: publicSpreadsheetUrl,
          callback: showInfo,
          simpleSheet: true
        });
      }

      function showInfo(data, tabletop) {
        /*alert('Successfully processed!')*/
        console.log(data);
        for (var i = 0; i < data.length; i++) {
          $(".timeline-carousel__item-wrapper").slick(
            "slickAdd",
            '<div class="timeline-carousel__item">' +
              '<div class="timeline-carousel__image">' +
              '<div class="media-wrapper media-wrapper--overlay" style="background: url(' +
              data[i].photo +
              ') center center; background-size:cover;"></div></div>' +
              '<div class="timeline-carousel__item-inner">' +
              '<span class="year">' +
              data[i].year +
              "</span>" +
              '<span class="month">' +
              data[i].month +
              "</span>" +
              "<p>" +
              data[i].caption +
              "</p>" +
              '<a href ="' +
              data[i].link +
              '" class="read-more">Read more</a></div></div>'
          );
        }
      }
      window.addEventListener("DOMContentLoaded", init);

      $(document).ready(function() {
        $(".timeline-carousel__item-wrapper").slick({
          slidesToShow: 2,
          slidesToScroll: 1,

          autoplaySpeed: 2000,
          arrows: true
        });
      });
    </script>
    <script>
      $.js = function(el) {
        return $("[data-js=" + el + "]");
      };

      function carousel() {
        $.js("timeline-carousel__item-wrapper").slick({
          //centerPadding: '60px',
          infinite: true,
          slidesToShow: 2,
          slidesToScroll: 2,
          dots: true,
          //speed: 500,
          //centerMode: true,
          //touchThreshold : 2,
          arrows: true
          /*autoplay: false,     
    responsive: [
      {
        breakpoint: 800,
        settings: {
		  
		  centerPadding:'40px',
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
	  {
	    breakpoint: 800,
		settings: {
			
			centerPadding:'40px'
		}
	  }
	  ]*/
        });
      }

      carousel();
    </script>

    <%- include ('partials/footer.ejs') %>
  </body>
</html>
